{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 50,
          "firefox": 53,
          "opera": 40
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": ["lodash"]
    }
  }
}
